@{
    ViewData["Title"] = "Home Page";
}

@*@using OidcAuthV3.DataAccess*@
@inject IDataFunctions df
@{
     Staff staff = df.GetCurrentStaffM();
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>City Staff Information will be displayed below this line if the user is successfully authenticated.</p>

    @if (Context.User.Identity.IsAuthenticated == false)
    {
        <p><a asp-action="Login" asp-controller="Account" asp-route-serviceCode="a" asp-route-agencyCode="boe">Login as A-Permit BOE User</a></p>

    <p>
        <a asp-action="Login" asp-controller="Account" asp-route-serviceCode="b" asp-route-agencyCode="boe">
            Login as B-Permit BOE User
        </a>
    </p>    
    }




    @if (Context.User.Identity.IsAuthenticated == true)
    {
        <div>User Full Name: @staff.FirstName @staff.LastName</div>
        <div>User Email: @staff.Email</div>
        <div>User Agency Code: @staff.AgencyCd</div>
                <div>Department: @staff.Dept</div>
        <div>User City ID: @staff.PaySrId</div>
        <div>User Work Phone: @staff.WorkPhone.ToUpper()</div>
        <div>User AccessToken (Partial): @staff.access_token.Substring(80)</div>
        <div>User Expires In: @staff.expires_in</div>
        <div>User Refresh Token: @staff.refresh_token</div>
        <p></p>
        <p></p>
        <div>Staff Photo <img src="@staff.PhotoUrl" alt="Avatar" class="avatar" /></div>
    }


</div>
