@*@{
    ViewData["Title"] = "Home Page";
}

@using OidcAuthV3.DataAccess
@inject IDataFunctions df
@{
    // Staff staff = df.GetCurrentStaffM();
    User user = df.GetCurrentUserM();
}*@


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p></p>
    <p></p>


    <p>City Staff Information will be displayed below this line if the user is successfully authenticated.</p>


    <p><a asp-action="Login" asp-controller="Account" asp-route-serviceCode="a" asp-route-agencyCode="boe">Login as A-Permit BOE User</a></p>

    <p>
        <a asp-action="Login" asp-controller="Account" asp-route-serviceCode="b" asp-route-agencyCode="boe">
            Login as B-Permit BOE User
        </a>
    </p>



@*    @if (Context.User.Identity.IsAuthenticated == true)
    {
        <div>User Full Name: @user.FullName</div>
        <div>User Full Name: @user.Email</div>
        <div>User Agency: @user.AgencyCd</div>
        <div>User City ID: @user.PaySrId</div>
        <div>User is Active: @user.WorkPhone.ToUpper()</div>
        <div>User AccessToken: @user.access_token</div>
        <div>User Expires In: @user.expires_in</div>
        <div>User Refresh Token: @user.refresh_token</div>
        <p></p>
        <p></p>
        <div>Staff Photo <img src="@user.PhotoUrl" alt="Avatar" class="avatar" /></div>
    }*@


</div>
