@*@using OidcAuthDataAccess*@
@inject IDataFunctions df


@{
    Staff staff = df.GetCurrentStaffM();
}

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<style>
    a.dropdown-item {
        color: black;
        text-decoration: none;
    }

    .yellow {
        color: yellow;
    }

    .avatar {
        border-radius: 50%;
    }
</style>

<nav class="navbar navbar-expand-xl navbar-custom navbar-dark">
    <div class="yellow text-center h5">OidcAuth</div>

    <a class="navbar-brand" href="https://eng.lacity.org/" target="_blank">
        &nbsp;&nbsp;&nbsp;
        <img src="~/Images/BOE_Logo_75x128_white-text.png" title="Visit the City of Los Angeles Bureau of Engineering Home Page" />
    </a>

    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbar0" aria-controls="navbar0" aria-expanded="false" aria-label="Toggle navigation" style="border:0px solid white;">
        <span class="fa fa-navicon"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="navbar0">

        <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;

            <li class="nav-item">
                <h5><a class="nav-link" asp-controller="Public" asp-action="Instructions"><span class="fa fa-info fa-x"></span> Instructions</a></h5>
            </li>
        </ul>

@*        @if (@User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav mr-auto">
                &nbsp;&nbsp;
                <li class="nav-item">
                    <h5><a class="nav-link" asp-controller="Error" asp-action="ListExceptions"><span class="fa fa-info fa-x"></span> Error Log</a></h5>
                </li>
            </ul>
        }*@

        <ul class="nav navbar-nav ml-auto">

            @if (!@User.Identity.IsAuthenticated)
            {
                @*<li class="nav-item"><h5><a class="nav-link" asp-controller="Home" asp-action="Login"><span class="fa fa-power-off"></span> Log in</a></h5></li>*@

                <li class="nav-item"><h5><a class="nav-link" asp-action="Login" asp-controller="Account" asp-route-serviceCode="a" asp-route-agencyCode="boe"><span class="fa fa-power-off"></span> Login</a></h5></li>
                @*<a class="nav-link" asp-action="Login" asp-controller="Account"><span class="fa fa-power-off"></span> Login</a>*@
            }

            @if (@User.Identity.IsAuthenticated)
            {

                @*                <li class="nav-item ">
            <form method="post" asp-controller="Home" asp-action="Logout">
            <button type="submit" style="width:auto"
            class="nav-link btn btn-link">
            <span class="fa fa-power-off"></span> Log out
            </button>
            </form>
            </li>*@

                <li class="nav-item">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        @*<img src="@staff.PhotoUrl" width="25" height="25" alt="Avatar" />&nbsp;*@
                        <button type="submit" style="width:auto" class="nav-link btn btn-link dropdown-item">
                            <img src="@staff.PhotoUrl" width="30" height="30" alt="Avatar" class="avatar" /> Logout
                        </button>
                    </form>
                </li>


            }
        </ul>
    </div>
</nav>

<environment include="Staging,Development">
    <h5 class="title text-center text-danger mt-1">THIS IS A TEST SITE</h5>
</environment>

@if (TempData.ContainsKey("Message"))
{
    <div class="container mt-1 w-75 mx-auto">
        @if (TempData.ContainsKey("Success"))
        {
            @if (TempData["Success"].ToString() == "1")
            {

                <div class="alert alert-success text-center" role="alert">
                    <h6>@TempData["Message"]</h6>
                </div>

            }
            else
            {
                <div class="alert alert-danger text-center" role="alert">
                    <h6>@TempData["Message"]</h6>
                </div>
            }
        }
    </div>
}