<div class="container mt-3">
    <div class="row">
        <div class="col-xs-12 col-lg-8 mx-auto">

            <div class="card">
                <div class="card-header bg-danger text-white">*** Attention ***</div>
                <div class="card-body">

                   
                        <p>Your request could not be completed.  The support team has been notified.</p>

                        <p class="text-danger"><strong>Messge: </strong> @Html.Raw(ViewBag.Message)</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <br />
    <hr />
    <div class="text-danger"><strong>Exception Path:</strong><br /><pre>@ViewBag.Path</pre></div>
    <hr />
    <div class="text-danger"><strong>Exception Message:</strong><br /><pre>@ViewBag.Message</pre></div>
    <hr />
    <div class="text-danger"><strong>Exception Stack Trace:</strong><pre>@ViewBag.StackTrace</pre></div>
    <hr />
    <div class="text-danger"><strong>Exception Source:</strong><br /><pre>@ViewBag.Source</pre></div>
    <hr />
    <div class="text-danger"><strong>Inner Exception:</strong><br /><pre>@ViewBag.InnerException</pre></div>
    <hr />
    <div class="text-danger"><strong>Exception Target Site:</strong><br /><pre>@ViewBag.TargetSite</pre></div>
    <hr />
    <div class="text-danger"><strong>Exception Data:</strong><br /><pre>@ViewBag.Data</pre></div>
    <hr />
    <div class="text-danger"><strong>Exception Help Link:</strong><br /><pre>@ViewBag.HelpLink</pre></div>
    <hr />
</environment>